<h1> hi </h1>

<p> You typed the following into the form:</p>

<dl>
  <dt>Sign</dt>
  <dd><%= @symbol %></dd>

  <dt>Creature</dt>
  <dd><%= @animal %></dd>

  <dt>Fortune</dt>
  <dd><%= @horoscope %></dd>
</dl>
