<h1>All Zodiacs</h1>

<ul>
<% @list_of_zodiacs.each do |zodiac| %>
  <li>
    <%= zodiac.sign.capitalize %> -- <%= zodiac.fortune %>
    <a href="http://localhost:3000/delete_zodiac/<%= zodiac.id %>">Delete</a>
  </li>
<% end %>
</ul>
