<h1>Add a new Zodiac</h1>

<form action="http://localhost:3000/process_form">
  <div>
    <label>Sign</label>
    <input name="the_sign" type="text">
  </div>

  <div>
    <label>Creature</label>
    <input name="the_creature" type="text">
  </div>

  <div>
    <label>Fortune</label>
    <textarea name="the_fortune"></textarea>
  </div>

  <div>
    <button>Create Zodiac</button>
  </div>
</form>
