<h1>hi</h1>

<form action="http://localhost:3000/create_zodiac">
  <div>
    <label>Sign</label>
    <input name="symbol" type="text">
  </div>

  <div>
    <label>Creature</label>
    <input name="animal" type="text">
  </div>

  <div>
    <label>Fortune</label>
    <textarea name="horoscope"></textarea>
  </div>

  <button>Submit</button>
</form>
